# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
.history/*

# System Files
.DS_Store
Thumbs.db

# misc
.sass-cache
npm-debug.log
yarn-error.log
node_modules
.jest
.angular
.yarn
package-lock.json

# project
/out-tsc
/coverage

/dist

